@import "../../../../global_scss/vars.scss";
@import "../../../../global_scss/mixins.scss";

.header-favorites {
  padding-left: 30%;
  padding-top: 30%;
  cursor: pointer;
}
@media screen and (max-width: $desktop-size) {
  .header-favorites {
    padding-left: 10%;
    padding-top: 5px;
  }
}
