* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 600px;
    margin: 0 auto;

}

.post-card {
    position: relative;
    list-style: none;
    margin-bottom: 20px;
    background-color: rgb(251, 251, 251);
    padding: 15px;
}

.post-card__name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.post-card__email {
    font-size:16px;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

.post-card__title {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
}

.post-card__body {
    font-size: 20px;
}

.btn-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}
