@import "../../../global_scss/vars.scss";
@import "../../../global_scss/mixins.scss";

.btn-viewall {
    color: $accent-color;
    font-size: 20px;
    &::after {
      content: ">";
      margin-left: 10px;
    }
}