@import '../../global_scss/mixins.scss';
@import '../../global_scss/vars.scss';
@import '../../global_scss/global_style.scss';

.footer {
    padding-top: 54.05px;
    padding-left: 195px;
    padding-right: 195px;
    background-color: $accent-background-color;
    @media (max-width:1400px) {
        padding-left: 45px;
        padding-right: 45px;
    }
    @media (max-width:1300px) {
        padding-left: 65px;
        padding-right: 65px;
    }
    @media (max-width:$notebook-size) {
        padding-left: 105px;
        padding-right: 105px;
    }
    @media (max-width:1100px) {
        padding-left: 55px;
        padding-right: 55px;
    }
    @media (max-width:1000px) {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.footer__conteiner {
    display: flex;
    justify-content: space-around;
    width: 100%;  
    @media (max-width:$desktop-size) {
        width: 100%;
        padding: 0;
        display: block;
        text-align: center;
        justify-content: center;
    }
    @media (max-width:$mobile-size) {
        width: 100%;
        padding: 0;
    }
}


.footer__img {
    width: 120px;
    height: 171.89px;
    margin-left: -50px;
    @media (max-width:1400px) {
        margin-left: 0;
    }
    @media (max-width:1300px) {
        margin-left: 0;
    }
    @media (max-width:$notebook-size) {
        margin-left: 0;
    }
    @media (max-width:$desktop-size) {
        padding-right: auto;
        width: 120px;
        height: 171.89px;
    }
}

.table_buyer {
    padding-left: 140px;
    @media (max-width:$notebook-size) {
        padding-left: 9px;
    }
    @media (max-width:$desktop-size) {
        width: 100%;
        padding: 0;
        padding-left: 0;
        display: none;
    }
    @media (max-width:$mobile-size) {
        width: 100%;
        padding: 0;
        display: none;
    }
}

.table_about {
    padding-left: 12px;
    @media (max-width:$desktop-size) {
        width: 100%;
        padding: 0;
        padding-left: 0;
        display: none;
    }
    @media (max-width:$mobile-size) {
        display: none;
    }
}

.table_catalog {
    padding-left: 12px;
    @media (max-width:$desktop-size) {
        display: none;
    }
    @media (max-width:$mobile-size) {

        display: none;
    }
}

.table_work-time{
    padding-left: 0;
    @media (max-width:$notebook-size) {
    }
    @media (max-width:$desktop-size) {
        display: none;
    }
    @media (max-width:$mobile-size) {
        display: none;
    }
}

.table__input {
    display: flex;
    margin-top: 24px;
    @media (max-width:$desktop-size) {
        display: none;
    }
    @media (max-width:$mobile-size) {
        display: none;
    }
}

.input {
    width: 231px;
    padding-left: 19px;
    @media (max-width:$notebook-size) {
        width: 165px;
    }
}

.table__subscribe {
    margin-right: -50px;
    @media (max-width:1400px) {
        margin-right: 0;
    }
    @media (max-width:1300px) {
        margin-right: 0;
    }
    @media (max-width:$notebook-size) {
        margin-right: 0;
    }
}

.footer__title {
    margin: 0;
    font-family: $main-font;
    @include font-value(600, 20px, 25px);
    color: #311C1C;
    margin-top: 20px;
    @media (max-width:$notebook-size) {
        @include font-value(600, 16px, 20px);
    }
    @media (max-width:$desktop-size) {
        display: none;
    }
    @media (max-width:$mobile-size) {
        display: none;
    }
}

.footer__list {
    padding-top: 16px;
    cursor: pointer;
    font-family: $secondary-font;
    @include font-value(400, 15px, 140%);
    color: #311C1C;
    @media (max-width:$notebook-size) {
        @include font-value(400, 15px, 80%);
    }
    @media (max-width:$desktop-size) {
        width: 100%;
        padding: 0;
        display: grid;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
    }
}

.footer__catalog {
    padding-top: 16px;
    cursor: pointer;
    font-family: $secondary-font;
    @include font-value(400, 15px, 140%);
    color: #311C1C;
}

.footer__work-time {
    padding-top: 10px;
    font-family: $secondary-font;
    @include font-value(400, 15px, 140%);
    color: #311C1C;
    @media (max-width:$notebook-size) {
        @include font-value(400, 15px, 80%);

    }
    @media (max-width:$desktop-size) {
        width: 100%;
        padding: 0;
        display: grid;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
    }
}

.footer__media {
    padding-top: 24px;
    @media (max-width:$desktop-size) {
        padding: 0;
        display: grid;
        text-align: center;
        align-items: center;
        margin-top: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width:$mobile-size) {
        display: block;
        margin-top: 20px;
    }
}

.social {
    margin-right: 27.5px;
    cursor: pointer;
    @media (max-width:$desktop-size) {
        width: 100%;
        padding: 0;
        display: grid;
        text-align: center;
        align-items: center;
        margin-top: 20px;
    }
    @media (max-width:$mobile-size) {
        display: block;
        margin-top: 20px;
    }

}

.line {
    border-bottom: 1px solid #B5ABAA;
    padding-top: 60px;
}

.design {
    font-family: $secondary-font;
    @include font-value(400, 16px, 26px);
    color: #B5ABAA;
    @media (max-width: $desktop-size) {
        @include font-value(400, 16px, 24px);
    }
    @media (max-width: $mobile-size) {
        @include font-value(400, 12px, 22px);
    }
}