.html {
  font-size: 10px;
}
.header {
  width: 100%;
}
._container {
  max-width: 1170px;
  margin: 0 auto;
}
.burg-bord{
  background-color: $menu-color;
  padding-top: 10px;
}
.container-two{
  width: 1200px;
  margin: auto;
}
#burger, [for=burger]{
  display: none;
}
.navigation{
  display: none;
}
.container-two{
  position: absolute;
  right: 0;
  top: 10px;
  bottom: 100px
}

.nav__link{
  @include burger-text;
  text-transform: uppercase;
  padding-left: 12px;
  padding-top: 8px;
  &:hover{
    color: $menu-link;
  }
}

@media screen and (max-width: 562px){
    .container-two{
      width: 80%;
    }
    [for=burger]{
      display: block;
      position: fixed;
      width: 44px;
      height: 37px;
      text-align: center;
      right: 15px;
      top: 23px;
    }
    [for=burger]::before{
      content: '☰';
      color: cornsilk;
    }
    .navigation{
      display: none;
      position: fixed;
      right: 15px;
      top: 28px;
      margin-top: 30px;
      background-color:  #F5F5F5;
      width: 30%;
      user-select: none;
    }
    #burger:checked + label + .navigation{
      display: block;
      animation: show .5s ease;
    }
    #burger:checked +[for=burger]::before{
      content: '╳';
      color: cornsilk;
      
    }
    .nav__link {
      &:hover {
        color: #57a4a4;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
}
@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.nav{
  padding-top: 8px;
  padding-bottom: 8px;
}

// burger


.menu__list {
  display: flex;
  justify-content: space-evenly;
  @media (min-width: 768px) {
    flex-wrap: nowrap;
    padding-left: 65px;
    padding-right: 65px;
  }
  @media (min-width: 745px) {
    gap: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 745px) {
    position: fixed;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    left: -100%;
    top: 40rem;
  }
}
.menu__list:active {
  background-color: #f5f5f5;
  left: 0px;
}
.menu__item {
  margin: 43px 0px;
  align-items: center;
  list-style: none;
  font-weight: normal;
  line-height: 22px;
  align-items: center;
  letter-spacing: 1.1px;
  flex-wrap: nowrap;
  color: #4e4e4e;
  @media (max-width: 745px) {
    margin: 0.4rem;
  }
}

.menu{
  &__link{
    color: $menu-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 22px;
  }
  &__link{
    &:hover{
      color: #57a4a4;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}


.main-img__wrap {
  margin: 0 auto;
  max-width: 90%;
}
.main__img {
  width: 100%;
  display: block;
  object-fit: cover;

}
// header

// main humb
.humb {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
  right: 5.1%;
  top: 1.8rem;
  width: 6rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1.4rem;
  @media (max-width: 655px) {
    visibility: visible;
  }
}
.bar {
  display: block;
  margin: 0.5rem auto;
  width: 70%;
  height: 3px;
  transition: 0.3s;
  background-color: white;
}

// main humb

// main__container

//mixin
.post__title{
  @include font-h1;
  padding-bottom: 24px;
  padding-top: 66px;
}

.post__title-h2{
  @include font-700;
}
.post__subtite{
  @include  font-400-h2;
}
.post__item{
  @include font-item;
}
.post__text{
  @include font-400-text;
}
//mixn
//main
.post__titel{
  padding-bottom: 24px;
}
.title
.main{
 padding-top: 66px;
 margin: 0 auto;
 max-width: 90%;
}
.post{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(48.8%,1fr));
  grid-gap: 1em;
  padding-bottom: 70px;

}
.post__item{
  display: flex;
  width: 100%;
  @media (max-width: 562px) {
    flex-direction: column;
    
  }
}
.post__item-text{
  display: block;
  padding-left: 21px;
  @media (max-width: 562px) {
    padding-left: 0px;
    
  }
}
.post__text{
  @media(max-width: 562px){
    display: none;
  }
}

// instagram shots
.title {
  display: inline;
  @include font-h1

}

.section__title-show {
  visibility: hidden;
  @media (min-width: 768px) {
    visibility: visible;
  }
}
.title-show{
  @include  font-700-text;
}
.gallery__insta {
  padding-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-bottom: 41px;
}
.img-insta__img {
  width: 100%;
  object-fit: cover;
 
}
.fourth-img {
  @media (max-width: 1200px) {
    display: none;
  }
}

.third-img {
  @media (max-width: 705px) {
    display: none;
  }
}

.title-show {
  @media (max-width: 505px) {
    display: none;
  }
}

.second-img {
  @media (max-width: 505px) {
    display: none;
  }
}
.main-img__wrap{
  @media (max-width: 562px){
    padding-top: 83px;
  }
}


.img-insta__link {
  display: block;
}
.back{
  background-color:$back;
 
}
.main__insta-titles{
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.titel-show{
  @include font-700-text;
}

//main
//footer
.footer__container {
  text-align: center;
  background-color: #000000;
  padding-bottom: 34px;
}
.contact__footer {
  @media (max-width: 835px) {
  
    padding-left: 35px;
    padding-right: 35px;
  }

}
.section__title-footer {
  padding-top: 57px;
  padding-bottom: 22px;
  @include font-footer-text;
  @media (max-width: 768px) {
    padding-top: 38px;
    padding-bottom: 8px;
  }
}
.footer__text {
 @include font-footer-texts;
  width: 70%;
  margin: 0 auto;
}
.footer__text-hide {
  @include  text-hide;
  @media (max-width: 768px) {
    display: none;
  
  }
}
.footer__nav {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding-top: 37px;
  padding-bottom: 34px;
 @media(max-width:768px){
   padding-top: 26px;
 }
}
.footer__nav-icon {
  width: 34px;
}
