@mixin font-700{
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: $main-post;
  }
  @mixin font-h1{
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: $main-post;
    text-transform: uppercase;
  }
  @mixin font-item{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $main-titel-h2;
  }
  @mixin font-400-h2{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: $main-titel-h2;
  }
  @mixin font-400-text{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: $main-text;
  }
  @mixin font-700-text{
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
    color: $main-text;
  }

  @mixin font-footer-text{
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: $footer-titel;
    text-transform: uppercase;
  }

  @mixin font-footer-texts{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: $footer-text;
  }

  @mixin text-hide {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: $footer-text;
  }
  @mixin burger-text{
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    color: $main-post;
  }

