*, 
*::before, 
*::after{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    box-sizing: border-box; 
} 
a { 
    text-decoration: none; 
} 
ul, 
ol, 
li { 
    list-style: none; 
} 
img { 
    vertical-align: top; 
} 
h1,h2,h3,h4,h5,h6{ 
    font-weight: 100%; 
    overflow: hidden; 
} 
html, 
body { 
    height: 100%; 
    line-height: 1; 
    font-size: 16px; 
    color: #5C5C5C;
    font-family: roboto; 
} 


._container{
    margin: 0 auto;
    width: 90%;
} 
 

