$menu-color: #000000;
$menu-link: #57A4A4;
$main-post:  #4E4E4E;
$main-titel-h2:#7C7C7C;
$main-text: #5C5C5C;
$footer-titel: #FEFEFE;
$footer-text: #B9B9B9;
$back: #dbdbdb2d;
$navigation: #F5F5F5;





