@font-face {
                            font-family: Roboto;
                            font-display: swap;
                            src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff2");
                            font-weight: 700;
                            font-style: normal;
                        }
@font-face {
                            font-family: Roboto;
                            font-display: swap;
                            src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff2");
                            font-weight: 300;
                            font-style: normal;
                        }

@font-face {
                            font-family: Roboto;
                            font-display: swap;
                            src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff2");
                            font-weight: 500;
                            font-style: normal;
                        }

@font-face {
                            font-family: Roboto;
                            font-display: swap;
                            src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff2");
                            font-weight: 400;
                            font-style: normal;
                        }

