@import "../../global_scss/vars.scss";
@import "../../global_scss/mixins.scss";

.outlet {
    max-width: $notebook-size;
    border-color: $basic-background-color;
    padding: 20px 0px 30px;
    margin: $margin-center;
    box-sizing: border-box;
    &__header {
        @include flex-kit(space-between);
        align-items: center;
        margin-bottom: 40px;
    }
    &__cards-container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 0;
        overflow-y: hidden;
        align-items: center;
        margin-right: -40px;
        gap: 10px;
    }
}

@media screen and (max-width: $desktop-size) {
    .outlet {
      &__header {
        margin-bottom: 25px;
        .btn-viewall {
            font-size: 15px;
        }
      }
      &__title {
        font-size: 35px;
        line-height: 40px;
        margin: 30px;
  }
      &__cards-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

@media screen and (max-width: 360px) {
    .outlet {
        &__header {
            .btn-viewall {
                font-size: 10px;
            }
        }
        &__title {
            font-size: 25px;
            line-height: 30px;
            margin: 15px;
          }
        &__cards-container {
            grid-template-columns: repeat(2, 1fr);
      }
    }
  }  