<header class="header">
    <div class="container-two">
        <input class="container-two input" type="checkbox" id="burger">
        <label class="burg-bord" for="burger"></label>
        <nav class="navigation">
            <ul class="navigation__list nav">
                <li class="nav__item"> <a class="nav__link" href="#"> Home</a></li>
                <li class="nav__item"> <a class="nav__link" href="#"> About Us </a></li>
                <li class="nav__item"> <a class="nav__link" href="#"> Our Journal</a></li>
                <li class="nav__item"> <a class="nav__link" href="#">Projects</a> </li>
                <li class="nav__item"> <a class="nav__link" href="#"> news</a></li>
                <li class="nav__item"> <a class="nav__link" href="#"> features</a></li>
                <li class="nav__item"> <a class="nav__link" href="#"> contact</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="header__container _container">
        <nav class="header__menu menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
                <li class="menu__item"><a href="#" class="menu__link">About Us</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Our Journal</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Projects</a></li>
                <li class="menu__item"><a href="#" class="menu__link">news</a></li>
                <li class="menu__item"><a href="#" class="menu__link">features</a></li>
                <li class="menu__item"><a href="#" class="menu__link">contact</a></li>
            </ul>
        </nav>
        <div class="main-img__wrap"><img class="main__img" src="@img/intro-img 1.png" alt="imtro"></div>
    </div>
</header>