<main class="main">

  <div class="main__container _container">

    <h1 class="post__title">- our Recent posts</h1>

    <div class="main__post post">
      <div class="post__item">
        <div class="post__photo-wrap"><img class="post__img" src="@img/post_01.png" alt="post_01"></div>
        <div class="post__item-text">
          <h2 class="post__title-h2">Aenean Adipiscing Etiam Vestibulum</h2>
          <p class="post__subtite">Photography, Journal / 9 Comments</p>
          <p class="post__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam
            venenatis vestibulum.</p>
        </div>
      </div>

      <div class="post__item">
        <div class="post__photo-wrap"><img class="post__img" src="@img/post_02.png" alt="post_01"></div>
        <div class="post__item-text">
          <h2 class="post__title-h2">Aenean Adipiscing Etiam Vestibulum</h2>
          <p class="post__subtite">Photography, Journal / 9 Comments</p>
          <p class="post__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam
            venenatis vestibulum.</p>
        </div>
      </div>

      <div class="post__item">
        <div class="post__photo-wrap"><img class="post__img" src="@img/post_03.png" alt="post_01"></div>
        <div class="post__item-text">
          <h2 class="post__title-h2">Aenean Adipiscing Etiam Vestibulum</h2>
          <p class="post__subtite">Photography, Journal / 9 Comments</p>
          <p class="post__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam
            venenatis vestibulum.</p>
        </div>
      </div>

      <div class="post__item">
        <div class="post__photo-wrap"><img class="post__img" src="@img/post_04.png" alt="post_01"></div>
        <div class="post__item-text">
          <h2 class="post__title-h2">Aenean Adipiscing Etiam Vestibulum</h2>
          <p class="post__subtite">Photography, Journal / 9 Comments</p>
          <p class="post__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam
            venenatis vestibulum.</p>
        </div>
      </div>
    </div>
  </div>
<div class="main__back back _container">
  <section class="main__insta insta _container">
    <div class="main__insta-titles ">
      <div class="section__title title"> - Latest Instagram Shots</div>
      <div class="section__title title title-show">
        go to our instagram page -
      </div>
    </div>

    <div class="gallery__insta">
      <a href="#" class="img-insta__link"
        ><img
          class="img-insta__img first-img"
          src="@img/inst_01.png"
          alt="insta"
      /></a>
      <a href="#" class="img-insta__link"
        ><img
          class="img-insta__img second-img"
          src="@img/insta_02.png"
          alt="insta"
      /></a>
      <a href="#" class="img-insta__link"
        ><img
          class="img-insta__img third-img"
          src="@img/insta_03.png"
          alt="insta"
      /></a>
      <a href="#" class="img-insta__link"
        ><img
          class="img-insta__img fourth-img"
          src="@img/insta_04.png"
          alt="insta"
      /></a>
    </div>
  </section>
</main>
</div>