.modal {
  width: 300px;
  background-color: rgb(15, 75, 68);
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  position: relative;
  .content {
    padding: 1rem;
  }
}
.modal-header{

  margin: -20px;
  padding: 30px;
  font-weight: 700;
}
.modal-button {
  background-color: rgb(18, 7, 88);
  border: 0;
  width: 90px;
  box-shadow: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}
.close-btn{
  position: absolute;
  top: 20px;
  right:20px;
  width: 30px;
  height: 30px;
}
.close-btn::before, .close-btn::after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: rgb(255, 255, 255);
  }
  .close-btn:before {
    transform: rotate(45deg);
    }
    .close-btn::after {
    transform: rotate(-45deg);
    }
.modal-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(192, 3%, 63%, 0.4);
}