@import '../../../global_scss/vars.scss';
@import '../../../global_scss/mixins.scss';

.section__btn-header {
    font-family: $main-font;
    @include font-value(500, 16px, 20px);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 16px 95.5px;
    margin-top: 60px;
    background-color: $accent-color;
    transition: ease-in-out 0.5s;
    &:hover {
        background-color: #311c1c;
    }
    @media (max-width: $desktop-size) {
        padding: 8px 40px;
        @include font-value(500, 10px, 18px);
        margin-top: 30px;
    }
}

.section__btn-collection {
    font-family: $main-font;
    @include font-value(500, 14px, 19px);
    color: #311C1C;
    border: 1px solid #311C1C;
    cursor: pointer;
    padding: 6.5px 20px;
    background-color: #FFFFFF;
    transition: ease-in-out 0.5s;
    &:hover {
        background-color: $accent-color;
        color: #FFFFFF;
    }
}

.section__btn-subscribe {
    font-family: $main-font;
    @include font-value(500, 16px, 20px);
    color: $accent-background-color;
    border: none;
    cursor: pointer;
    padding: 14px 48.5px;
    background-color: #311C1C;
    transition: ease-in-out 0.5s;
    &:hover {
        background-color: $accent-color;
        color: #311C1C;
    }
}

.section__btn-footer {
    font-family: $main-font;
    @include font-value(500, 16px, 20px);
    color: $accent-background-color;
    border: none;
    cursor: pointer;
    padding: 14px 28px;
    background-color: #311C1C;
    transition: ease-in-out 0.5s;
    &:hover {
        background-color: $accent-color;
        color: #311C1C;
    }
    @media (max-width: $notebook-size) {
        padding: 14px 14px;
    }
}

//Checkout Page and Login Page
.section__btn-checkout {
    font-family: $main-font;
    @include font-value(500, 16px, 20px);
    color: $accent-background-color;
    border: none;
    cursor: pointer;
    padding: 14px 48.5px;
    background-color: #B5ABAA;
    transition: ease-in-out 0.5s;
    &:hover {
        background-color: $accent-color;
        color: #311C1C;
    }
}