@import '../../global_scss/vars.scss';
@import '../../global_scss/mixins.scss';
@import '../../global_scss/global_style.scss';

.login__section {
    padding-top: 30px;
    
}

.container {
    width: 1200px;
}

.login__breadcrumbs {
    padding-top: 30px;
    padding-left: 75px;
    font-family: $main-font;
    @include font-value(400, 16px, 140%);
    color: #B5ABAA;
}

.login__breadcrumbs span {
    font-family: $main-font;
    @include font-value(400, 16px, 140%);
    color: #635c5b;
}

.login__form {
    margin: 60px 75px 55px 75px;
    padding: 40px 50px;
    border: 1px solid #B5ABAA;
}

.login__section-title {
    font-family: $main-font;
    @include font-value(500, 28px, 30px);
    color: #311C1C;
}

.login__section-email {
    padding-top: 20px;
    font-family: $main-font;
    @include font-value(500, 16px, 20px);
}
.login__section-input {
    margin-top: 5px;
    margin-right: 50px;
    border: 1px solid #EDE8E7;
    padding: 15px 748px 15px 10px;
    font-family: $secondary-font;

}

#login__section-input {
    margin-top: 5px;
    margin-right: 50px;
    border: 1px solid #EDE8E7;
    padding: 15px 748px 15px 10px;
    font-family: $secondary-font;
    display: flex;
}

.login__show-hide{
    display: flex;
    align-items: center;
}

#hide_show {
    margin-left: -100px;
    cursor: pointer;
    border: none;
}

.login__registration-section {
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.login__registration-title {
    font-family: $secondary-font;
    @include font-value(400, 16px, 150%);
    color: #311C1C;
}

.login__registration-link {
    font-family: $secondary-font;
    @include font-value(600, 16px, 150%);
    color: #004C3F;
    cursor: pointer;
}

.login__section-btn {
    margin-left: 750px;
}

// ------ //

.pass-strength {
    display: flex;
    align-items: center;
    margin-top: 3px;
  }
  
  .strength-label {
    font-size: 12px;
    margin-left: 10px;
  }
  .strength-percent {
    flex: 1;
    height: 5px;
    border-radius: 10px;
    display: block;
    background: #eee;
  }
  
  .strength-percent span {
    display: block;
    height: 100%;
    transition: all 0.4s;
    border-radius: 10px;
  }
  
  .weak {
    background: red;
    width: 30%;
  }
  
  .average {
    background: #ffd000;
    width: 50%;
  }
  
  .strong {
    background: green;
    width: 100%;
  }

  .toggle-icon-active{
    font-size:27px;
  }
  .toggle-icon-passive{
    font-size:25px;
  }

// ------ //
  
