.button {
    border:0;
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    margin-right: 20px;
    font-size: large;
  }
 .button-container {
    position: absolute;
    left: 35%;
    top:90px;
}
  .section {
    position: relative;
  }
  
  