@import "../../../../global_scss/global_style.scss";
@import "../../../../global_scss/fonts.scss";
@import "../../../../global_scss/vars.scss";
@import "../../../../global_scss/mixins.scss";

.header-redistration {
  padding-left: 30%;
  padding-top: 30%;
  cursor: pointer;
}
@media screen and (max-width: $desktop-size) {
  .header-redistration {
    padding-left: 10%;
    padding-top: 45%;
  }
}
