* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 1160px;
}
h2 {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 101px;
    color: #4E4E4E;
}
h2::after, h2::before {
    content: "";
    width: 78px;
    height: 2px;
    background: #18cfab;
    position: absolute;
}
h2::after{
    top: 140px;
    left: 50%;
    transform: translate(-50%);
}
h2::before{
    top: 144px;
    left: 52%;
    transform: translate(-50%);
}
p {
    line-height: 24px;
}
a {
    text-decoration: none;
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.background{
    background-image: url(../img-base/Layer\ 1\ 5.png);
    color: white;
    background-size: cover;
    background-position: center;
}
.header-block {
    background-color: rgba(94, 93, 88, 0.6);
	padding: 27px 0;
}
.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header-logo-H {
    width: 58px;
    height: 67px;
    clip-path: polygon(0 24%, 50% 0, 100% 24%, 100% 76%, 50% 100%, 0 76%);
    background-color: #18cfab;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo-H span {
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
}
.header-text-logo {
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 5px;
}
.header-text-logo span {
    font-weight: 700;
    color: #18CFAB;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}
.nav-menu-item {
    padding-right: 22px;
}
.nav-menu-item:last-child{
    padding-right: 0;
}
.menu-link {
    text-decoration: none;
    color: #FFFFFF99;
    text-transform: uppercase;
}

/* header-text */
.header-text {
    text-align: center;
    padding-top: 264px;
    padding-bottom: 243px;
}
.tHam {
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 35px;
}
.tHam span{
    color: #18CFAB;
}
.creative{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 78px;
    padding-bottom: 55px;
}

.just-Buy{
    font-weight: 400;
    font-size: 34px;
    padding-bottom: 130px;
    color: #ffffffb0;
    padding-bottom: 130px;
}
.btn{
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: white;
    box-shadow:  0px -5px 0px  rgb(255, 255, 255); /* Параметры тени */
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
}
.explore{
    background-color:#18CFAB;
    padding: 16px 18px;
}
.purchase{
    background-color: #00CBF6;
    padding: 16px 18px;
}
/* main */

.icon-main {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    padding-top: 8px;
}
.box-main-one {
    display: flex;
    flex-direction: column;
    background: #1C2A33;
    align-items: center;
    padding-top: 85px;
}
.box-main-two{
    display: flex;
    flex-direction: column;
    background: #18CFAB;
    align-items: center;
    padding-top: 85px;
}
.different-p {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 47px;
    padding-bottom: 110px;
    text-align: center;
    color: #18CFAB;
}
/* .box-main-one:hover{
    background: #18CFAB;

} */
.fully-p{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 68px;
    padding-bottom: 110px; 
    text-align: center;
    color: rgb(255, 255, 255);
}

/* .box-main-three:hover{
    background: #18CFAB;

} */

/* .box-main-four:hover{
    background: #18CFAB;

} */

/* Our Services */


ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

#tabs {
    display: flex;
    padding-bottom: 27px;
   
}

.tabs-title {
    padding: 20px;
    background: #F8FCFE;
    color: #717171;
    cursor: pointer;
    border: 1px solid #EDEFEF;
}
.tabs-title:hover{
    border: 1px solid #18CFAB;
    
}
.active {
    background-color:#18CFAB;
    color: white;
}


.web-one{
    display: flex;
    padding-bottom: 90px;
}

.content {
    display: none;
 }

.tabs-cont-img {
    padding-right: 15px;
}

/* everything */
.everything{
    text-align: center;
    background-image: url(../img-base/Layer\ 21\ 1.png); 
    padding-bottom: 127px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.everything-h2{
    color:  #18CFAB;
    font-size: 40px;
    line-height: 40px;
    padding-top: 127px;
    padding-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
.everything-p{
    color: #D8D8D8;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 62px;
}
.everything-bth {
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
}
.bth-purchase {
    padding: 16px 11px;
    background-color: #18CFAB;
    color: white;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow:  0px -5px 0px  rgb(255, 255, 255); /* Параметры тени */
}

/* Our Amazing Work */
.section{
    background-color: #E9EDEF;
}
#box-three{
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}
#box-three:hover {
    color: #18CFAB;
}
.p-box {
    border: 1px solid #DADADA;
    padding: 20px 20px;
    color: #717171;
}
.p-box:hover{
    border: 1px solid #18CFAB;
}

.set-img{
    position: relative;
}
.graphic, .web-design, .landing, .wordpress{
    display: flex;
    flex-wrap: wrap;
}
.amazing-deteils{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #E9EDEF;
    border-top: 3px solid #18CFAB;
    transition-duration: 0.4s;
    cursor: pointer;
}
.set-img{
    display: inline-block;
    position: relative;
    
}
.img-block{
    padding-top: 40px;
}
.hidden{
    display: none;
}
.filter-hidden {
    display: none;
}

.set-img:hover .amazing-deteils{
    opacity: 1;
    background-color: #E9EDEF;
}

.creative-set {
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    color: #18CFAB;
    text-transform: uppercase;
    padding-top: 30px;
}
.web-set{
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #8A8A8A;
    padding-bottom: 10px;
}
.bth-load{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 99px;
    border: none;
    text-align: center;
}
.bth-load-one{
    display: flex;
    font-weight: 700;
    padding: 24px 24px;
    border: 3px;
    background: #18CFAB;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}
.plus {
    padding-top: 1px;
    padding-right:15px ;
}

/* Our Amazing Work */

.box-four{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #717171;

}
.p{
    padding-top: 17px;
    line-height: 17px;
    padding-bottom: 10px;
    font-weight: 700;
    color: #717171;
}


.p-two{
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    padding-top: 4px;
    padding-bottom: 44px;
    color: #717171;
}
.relative{
    position: relative;
    
}
.relative:hover .littel-box{
    background-color: #18CFAB;
}
.relative:hover .p{
    color: #18CFAB;
}

.littel-box {
    position: absolute;
    right: 0;
    background: #203E38;
    color: white;
    font-weight: 400;
    padding: 20px 20px 25px 20px;
    width: 35px;
    height: 35px;
}
.littel-box:hover {
    background-color: #18CFAB;
    
}
.img-breaking{
    padding-left: 35px;
}

/* container-four
What People Say */

.container-four{
    background-image: url(../img-base/Layer\ 333\ \(1\).png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.h2-four{
    color: white;
}
.p-four {
    color: #BBBBBB;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    padding-top: 36px;
    padding-bottom: 36px;
}
.name-ux{
    color: #18CFAB;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.img-ux {
    display: flex;
    justify-content: center;

}

/* slider */
.wrapper{
    padding-top: 57px;
    padding-bottom: 104px;
    align-items: center;
}
.slick-list{
    overflow: hidden;
}
/* лента слайдов */

.slick-track{
    display: flex;
    align-items: flex-start;
}

/* конкретный слайдер */
.slider{
    position: relative;
    padding: 0px 60px;
    /* align-items: center; */

}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    z-index: 10;
    font-size: 0;

    
}

.slider .slick-arrow.slick-prev{
    left: 0;
    width: 31px;
    height: 31px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    border: 1px solid #bBBBBB;
    background-image: url(../Forma\ 1.png.png);
}
.slider .slick-arrow.slick-next{
    right: 0;
    width: 31px;
    height: 31px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    border: 1px solid #bBBBBB;
    background-image: url(../Forma\ 1\ right.png);
}

.slider .slick-arrow.slick-prev:hover{
    background-color: #18CFAB;
}
.slider .slick-arrow.slick-next:hover{
    background-color: #18CFAB;

}
.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}
.slider .slick-dots li.slick-active button{
    background-color: #18CFAB;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
}


.slider-big-item{
    text-align: center;
    padding-bottom: 56px;
}

.box-four-last-circle {
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #22353F;
    color: #BBBBBB;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}