@import "../../global_scss/vars.scss";
@import "../../global_scss/mixins.scss";
@import "../../global_scss/global_style.scss";

.collection-section {
  max-width: 1200px;
  border-color: $basic-background-color;
  margin: $margin-center;
  box-sizing: border-box;
  &__header {
    @include flex-kit(space-between);
    align-items: center;
    margin-bottom: 40px;
    &_all {
      color: $accent-color;
      &::after {
        content: ">";
        margin-left: 10px;
      }
    }
  }
  &__content {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 991px) {
  .collection-section {
    &__content {
      grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    }
  }
}

@media screen and (max-width: 481px) {
  .collection-section {
    &__content {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    &__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
